<% var title = title || "Name" %>
<% var variant = variant || "Variant" %>
<% var stock = stock || 100 %>
<% var price = price || "Rp 15.00" %>

<div class="col-6 col-md-4 col-xl-3 p-1">
  <div class="card border">
    <div class="card-image d-flex align-items-center justify-content-center p-3 bg-light rounded">
      <i class="fa fa-burger fs-1"></i>
    </div>
    <div class="card-body">
      <h5 class="card-title"><%= title %></h5>
        <p class="small card-subtitle text-secondary"><%= variant %></p>
      <div class="d-flex align-items-center justify-content-between">
        <p class="m-0 fw-bold text-danger"><%= price %></p>
        <p class="m-0 small card-subtitle text-secondary">Stock: <%= stock %></p>
      </div>
    </div>
  </div>
</div>