<nav class="navbar navbar-expand navbar-light bg-white border-bottom w-full p-0 sticky-top">
  <div class="container-fluid p-0 overflow-hidden">
    <span class="navbar-brand m-0 fs-4 py-2 px-3 d-flex text-white bg-danger">
      Dewa<span class="fw-bold">POS</span>
    </span>
    <div id="top-menu" class="d-flex justify-content-between flex-fill px-3 overflow-x-auto position-relative">
      <ul class="navbar-nav d-flex flex-row">
        <%- include('./_navbar-top-item', { 
        	title: 'POS', 
        	active: true
        }); -%>
        <%- include('./_navbar-top-item', { 
        	title: 'Product', 
        	active: false
        }); -%>
        <%- include('./_navbar-top-item', { 
        	title: 'Report', 
        	active: false
        }); -%>
        <%- include('./_navbar-top-item', { 
        	title: 'Setting', 
        	active: false
        }); -%>
      </ul>
      <div class="position-fixed top-0 end-0 z-3 py-1 px-3  bg-white">
        <ul class="navbar-nav d-flex">
          <li class="nav-item mx-2">
            <button class="btn btn-light rounded-pill mt-1">
              <i class="fa fa-bell"></i>
            </button>
          </li>
           <li class="nav-item mx-2">
            <button class="btn btn-light rounded-pill mt-1">
              <i class="fa-solid fa-comment"></i>
            </button>
          </li>
          <li class="nav-item dropdown z-3">
            <a
              class="nav-link dropdown-toggle fw-medium bg-light"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Sayuri Hokkaido
            </a>
            <ul class="dropdown-menu dropdown-menu-end z-3">
              <li>
                <h6 class="dropdown-header fw-medium fs-6 py-2 text-center alert alert-warning">
                  Free Trial
                </h6>
              </li>
              <li class="d-flex px-2">
                <a class="btn btn-sm btn-warning col" href="#">Upgrade</a>
              </li>
              <li><hr class="dropdown-divider" /></li>
              <li><a class="dropdown-item" href="#">Summary</a></li>
              <li><a class="dropdown-item" href="#">Account Settings</a></li>
              <li><a class="dropdown-item" href="#">Notifications</a></li>
              <li><hr class="dropdown-divider" /></li>
              <li>
                <a class="dropdown-item text-danger fw-medium" href="#">Logout</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
